:root {
    --primary: #094E92;
    --primary-pale: #094e920c;
    --primary-not-too-pale: #094e922f;
    --primary-dark: hsla(210, 87%, 27%, 0.842);
    --primary-darker: #053A6C;
    --main: #094E92;
    --secondary: #2DC068;
    --secondary-dark: #26a85a;
    --accent: #2DC068;
    
    --border-radius: 3px;
    --border-radius-md: 5px;
    --border: 1.5px solid var(--border-color);
    --border-active: 2px solid var(--adjemin-secondary);
    --opacity-text: .8;
}

body {
    /* background-color: white; */
    font-family: 'Montserrat', sans-serif;
    transition: all .3s ease-in;
}
p, a {
    font-weight: 500;
}

.title {
    font-weight: bold;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

a.text-link{
    color: white;
    display: block;

}
a.text-link:hover{
    color: var(--accent);
}
a.inline-link{
    color: var(--accent);
    display: inline;
    
}
a.inline-link:hover{
    color: white;
}


a.navlink{
    color: var(--primary);
    font-weight: bold;
    margin-left: 20px;
}

img.icon {
    width: 20px !important;
}

img.gluid{
    display: block;
    max-height: inherit;
    width: auto;
}

/* Testimony slides */
#testimony-slider{
    position: relative;
}

.slides-container {
    width: 100%;
    margin: auto;
}
.img-circle{
    max-width: 200px !important;
    width: 200px !important;
    height: auto;
    border-radius: 50% !important;
}




.slide-control{
    /* display: block; */
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: .3s ease-in-out;
    /* box-shadow: 2px 2px 20px 5px var(--primary-not-too-pale), */
    /* -2px -2px 20px 5px var(--primary-not-too-pale); */
}
.shadow.shadow-paler{
    box-shadow: 2px 2px 40px 2px var(--primary-pale),
    -2px -2px 40px 2px var(--primary-pale);
    
}
.slide-control:hover{
    /* padding: 10px; */
    border: 10px solid var(--primary-not-too-pale);
}
.slide-control.left-button:hover{
    transform: translate(-20px, -50%);
}
.slide-control.right-button:hover{
    transform: translate(20px, -50%);
}


.slide-control.left-button{
    left: -25px;
}
.slide-control.right-button{
    right: -25px;
}

.slide-control img{
    width: 20px;
}
.slide-indicators{
    position: absolute;
    bottom: 30px;
    width: 50px;
    right: 50%;
    transform: translate(50%, 0);
    display: flex;
    justify-content: space-between;
}
.circle-indicator{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-pale);
}

.circle-indicator.active{
    background-color: var(--accent);
}

/* .abs{
    width: 24px;
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%) !important;
} */

.slide-item.active{
    display: block;
}
.slide-item{
    display: none;
}

#showcase {
    /* position: relative; */
    /* height: 90vh; */
    /* background:; */
    background-image:
    /* url(../img/index/showcase.png), */
    linear-gradient(to bottom right, #0B559F, #043563);
    /* background-repeat: no-repeat;
    background-size: contain;
    background-position: center right; */
    overflow: hidden !important;

}
.skewwy{
    position: relative;
}
.skew-bottom::before{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color:#fff;
    /* clip-path: polygon(100% 70%,0 100%,100% 100%, 0 100%); */
    clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
}

.skewwy.skew-top::before {
    content: '';
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--primary-darker);
    clip-path: polygon(0% 70%, 100% 0, 100% 100%, 0 100%);
}

/* Floating help button */
#floating-help-button {
    position: absolute;
    background-color: var(--accent);
    /* padding: 20px; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    right: 50px;
    top: -145px;
}

#floating-help-button img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@media screen and (max-width: 767px){
    a.navlink {
        margin-left: 5px;
    }
    .skew-bottom{
        padding-bottom: 200px;
    }
    .skew-bottom::before {
        bottom: -30px;
    }
    .skewwy.skew-top::before {
        top: -90px;
    }
    #floating-help-button {
        position: absolute;
        width: 90px; 
        height: 90px;
        border-radius: 50%;
        right: 50px;
        bottom: -50px;
        z-index: 99;
    }
    #floating-help-button img {
        height: auto;
        width: 50%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
    .slides-container{
        box-shadow: none !important;
    }
    .slide-control.left-button{
        left: 0;
    }
    .slide-control.right-button{
        right: 0;
    }
}


.shadow{
    /*  */
    box-shadow: 2px 2px 40px 2px var(--primary-pale),
    -2px -2px 40px 2px var(--primary-pale);
}
.border{
    border: none !important;
    border-radius: 10px;
}

@media screen and (min-width: 768px){
    a.navlink {
        margin-left: 10px;
    }
    .bg-img.bg-2{
        background-position: right;
    }
    .row.content{
        position: absolute;
        top: 40%;
        transform: translate(0, -40%);
        /* height: 20%; */
        /* background-color: blue; */
    }
    #showcase {
        position: relative;
        height: 80vh;
        /* background:; */
        background-image:
            /* url(../img/index/showcase.png), */
            linear-gradient(to bottom right, #0B559F, #043563);
        /* background-repeat: no-repeat;
    background-size: contain;
    background-position: center right; */

    }
    
    #showcase-container {
        height: 80%;
    }

}

.bg-img{
    background-image:
    url(../img/index/showcase.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden !important;
    /* background-position: center; */
}

.bg-img.bg-2{
    background-image: url(../img/index/solution.png);
}

.bg-pale{
    background-color: var(--primary-pale);
}
.bg-primary-darker{
    background-color: var(--primary-darker);
}

.accent {
    color: var(--accent) !important;
}


@media (min-width: 576px) {
    /* .container {
        max-width: 540px;
    } */
}

@media (min-width: 768px) {
    /* .container {
        max-width: 720px;
    } */
}

@media (min-width: 992px) {
    /* .container {
        max-width: 960px;
    } */
}

@media (min-width: 1200px) {
    /* .container {
        max-width: 1140px;
    } */
}
